@import "~@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
@apply mx-auto;
max-width: 750px; 
border: solid 2px black;
border-radius: 10px;}


